<div>
  <app-progress-bar [percentage]="doneSurveyPercentage"></app-progress-bar>
  <app-survey (OnChange)="handleNext($event)" [survey]="currentState"></app-survey>

  <div class="popup-overlay" *ngIf="done">
    <div class="popup">
      <h3 class="header">That's it! Thanks for your time</h3>
      <div class="footer">
        <button (click)="handleAction('redo')">Try again</button>
        <button (click)="handleAction('cancel')">Cancel</button>
      </div>
    </div>
  </div>
</div>
