@import "../../app.component";

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);

  .popup {
    width: 400px;
    background: $white;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    border-radius: 4px;
    box-shadow: 2px 2px 12px 1px #757070;
    animation: pop-out ease-in-out 0.3s;

    .footer {
      display: flex;
      padding-top: 10px;
      justify-content: space-between;

      button {
        padding: 5px;
        border: 1px solid $dark_grey;
        border-radius: 5px;
        width: 100px;
        cursor: pointer;
        outline: none;

        &:hover {
          background-color: $light_grey;
        }

        &:active {
          background-color: $blue;
          color: $white;
        }
      }
    }
  }
}

@keyframes pop-out {
  0% {
    transform: translate(-50%, -30%) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -30%) scale(1);
    opacity: 1;
  }
}
