<div class="survey-container">
  <div class="survey-body">
    <div *ngIf="!survey.submit">
      <p>Question: {{survey.label}}?</p>
      <input #inputRef [(ngModel)]="survey.value"/>
    </div>
    <div *ngIf="survey.submit">
      <p>{{survey.label}}</p>
      <app-summary-template></app-summary-template>
    </div>
  </div>
  <div class="survey-footer">
    <button [style.visibility]="survey.prevState ? 'visible' : 'hidden'" (click)="handleChange($event, 'PREV')">Prev
    </button>
    <button *ngIf="survey.nextState" [ngClass]="{disabled: !survey.value}" (click)="handleChange($event, 'NEXT')">Next</button>
    <button *ngIf="survey.submit" (click)="handleChange($event, 'SUBMIT')">Submit</button>
  </div>
</div>
