@import "../../app.component";

.survey-container {
  border: 1px solid $dark_grey;
  border-radius: 2px;
  padding: 0 16px 16px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .survey-body {
    text-align: center;

    input {
      padding: 20px 0;
      text-align: center;
      width: 100%;
    }
  }
  .survey-footer {
    margin-top: 40px;
    justify-content: space-between;
    display: flex;
    border-top: 1px solid $dark_grey;
    padding-top: 16px;

    button {
      padding: 5px;
      border: 1px solid $dark_grey;
      border-radius: 5px;
      width: 100px;
      cursor: pointer;
      outline: none;

      &.disabled {
        pointer-events: none;
        background-color: #e6e6e6;
        color: $grey;
        border-color: $grey;
      }

      &:hover {
        background-color: $light_grey;
      }

      &:active {
        background-color: $blue;
        color: $white;
      }
    }
  }
}
