.progress-bar {
  height: 10px;
  position: relative;
  border-radius: 10px;
  background: #efeeee;
  border: 1px solid #a0a0a0;
  margin-bottom: 20px;

  .fill-bar {
    background: #929292;
    transition: width ease-in-out 0.3s;
    height: 100%;
    border-radius: 10px;
  }
}
