<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

  <router-outlet></router-outlet>

</div>
