.app-summary {
  border-top: 1px solid #c5c5c5;

  .summary-row {
    label {
      width: 50%;
      display: inline-block;
      text-align: left;
      padding: 5px;
      box-sizing: border-box;

      &:first-child {
        text-align: right;
      }
    }
  }
}
